<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.applet.mapper.DemandDao">
  <resultMap id="BaseResultMap" type="com.commons.entity.Demand">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="type_id" jdbcType="BIGINT" property="typeId" />
    <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
    <result column="material" jdbcType="INTEGER" property="material" />
    <result column="desciption" jdbcType="VARCHAR" property="desciption" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, user_id, type_id, delivery_time, material, desciption, status, create_time
  </sql>
    <sql id="where_conditions">
        <where>
            1=1
            <if test="id != null">
                and   id = #{id,jdbcType=BIGINT}
            </if>
            <if test="userId != null">
                and   user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="typeId != null">
                type_id = #{typeId,jdbcType=BIGINT}
            </if>
            <if test="deliveryTime != null">
                and  delivery_time = #{deliveryTime,jdbcType=TIMESTAMP}
            </if>
            <if test="material != null">
                and   material = #{material,jdbcType=INTEGER}
            </if>
            <if test="desciption != null">
                and   desciption = #{desciption,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and  status = #{status,jdbcType=INTEGER}
            </if>
            <if test="createTime != null">
               and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>
    <select id="findDemands" parameterType="com.commons.dto.applet.DemandDTO" resultMap="BaseResultMap">
        select  <include refid="Base_Column_List" />
        from t_demand
        <include refid="where_conditions"/>
    </select>
</mapper>